.lead__title {
    font-family: 'Inter';
    font-style: bold;
    text-align: center;
    font-size: 96px;
    max-width: 720px;
    margin: 0 0 32px 0;
}

@media screen and (max-width: 674px) {
    .lead__title {
        font-size: 72px;
    }
}

@media screen and (max-width: 520px) {
    .lead__title {
        font-size: 45px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        margin: 0 0 16px 0;
        max-width: 288px;
        font-size: 40px;
        line-height: 1.1;
    }
}
