.cover {
    position: relative;
    margin: auto;
    max-width: 1184px;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
}
  
@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
    }
}
  
@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
    }
}
  
  @media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
    }
}